/.idea/shelf/Uncommitted_changes_before_Update_at_8_25_2024_1_25_PM_[Changes]/shelved.patch
/.idea/material_theme_project_new.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_8_25_2024_1_25_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_8_25_2024_1_25_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_8_25_2024_1_25_PM_[Changes]/shelved.patch
